*{
    margin-left: 5px;
    background-color: rgb(187, 187, 236);
}

.textArea{
    background-color: antiquewhite;
    
}

.uname{
    background-color: antiquewhite;
}

.btn{
    background-color: azure;
}