*{
    margin-left: 5px;
    background-color: rgb(183, 197, 209);
}
.heading{
    color: maroon;
}

.content{
    background-color: rgb(202, 227, 227);
}

.user{
    background-color: rgb(235, 122, 122);
    color: white;
}

.dlt
{
    background-color: silver;
    color: black;
}

