<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> Add New Users </h2>
    <form action="/users" method="post">
        <textarea placeholder="enter your name" name="name" type="text"></textarea><br><br>
        <textarea placeholder="enter your email" name="email" type="text"></textarea><br><br>
        <input placeholder="enter your password" name="passsword" type="password"><br><br>
        <button> Add Users </button>
    </form>
</body>
</html>