<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creating new Post </title>
</head>
<link rel="stylesheet" href="/new.css">
<body>
    <h1> Add new form</h1>
    <form action="/posts" method="post">
        <input placeholder="enter the username" name="username" class="uname" /> <br><br>
        <textarea placeholder="write your content here !!!" name="content" class="textArea"></textarea><br><br>
        <button class="btn"> Submit Post </button>
    </form>
</body>
</html>